---
layout: layouts/base
permalink: '| #{page.filePathStem}.html'
---

section.post
  header
    h1=title
    time(datetime=filters.htmlDateString(page.date))
      = filters.readableDate(page.date)

  .description_of_post
    p=description

  article.content
    | !{content}
