meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1')

if title
  meta(proparty='og:site_name' content=site.title)
  meta(proparty='og:title' content=title)
  meta(property='og:type' content='article')
else
  meta(proparty='og:title' content=site.title)
  meta(property='og:type' content='website')

if description
  meta(property='og:description' content=description)
else
  meta(property='og:description' content=site.description)

meta(property='og:url' content=page.url)
meta(property='og:image' content='images/ogp_twitter.png')

meta(name='twitter:card' content='summary')
if title
  meta(name='twitter:title' content=title)
else
  meta(name='twitter:title' content=site.title)

if description
  meta(name='twitter:description' content=description)
else
  meta(name='twitter:description' content=site.description)
meta(name='twitter:site' content=site.author.twitterid)
meta(name='twitter:image' content='images/avatar_ksm-min.png')
meta(name='twitter:image:alt' content="Author's avater image")

title
  if title
    | #{title} || #{site.title}
  else
    | #{site.title}

if description
  meta(name='description' content=description)
else
  meta(name='description' content=site.description)

meta(name='author' content=site.author.name)
