<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% if title %}
<meta proparty="og:site_name" content="{{ site.title }}">
<meta proparty="og:title" content="{{ title }}">
<meta proparty="og:type" content="article">
<meta proparty="og:url" content="{{ site.url }}{{ site.url }}">
{% else %}
<meta proparty="og:site_title" content="{{ site.title }}">
<meta proparty="og:type" content="website">
<meta proparty="og:url" content="{{ site.url }}">
{% endif %}

{% if description %}
<meta proparty="og:description" content="{{ description }}">
{% else %}
<meta proparty="og:description" content="{{ site.description }}">
{% endif %}

<meta proparty="og:image" content="{{ site.url }}/images/ogp_twitter.png">
<meta proparty="twitter:card" content="summary">

{% if title %}
<meta proparty="twitter:title" content="{{ title }}">
<meta proparty="twitter:url" content="{{ site.url }}{{ page.url }}">
{% else %}
<meta proparty="twitter:title" content="{{ site.title }}">
<meta proparty="twitter:url" content="{{ site.url }}">
{% endif %}

{% if description %}
<meta proparty="twitter:description" content="{{ description }}">
{% else %}
<meta proparty="twitter:description" content="{{ site.description }}">
<meta proparty="twitter:site" content="{{ site.author.twitterid }}">
<meta proparty="twitter:image" content="{{ site.url }}/images/avatar_ksm-min.png">
<meta proparty="twitter:image:alt" content="Author's avatar image">
{% endif %}

<title>
  {% if title %}
  {{ title }} || {{ site.title }}
  {% else %}
  {{ site.title }}
  {% endif %}
</title>

{% if description %}
<meta name="description" content="{{ description }}">
{% else %}
<meta name="description" content="{{ site.description }}">
{% endif%}

<meta name="author" content="{{ site.author.name }}">
