meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1')

if title
  meta(proparty='og:site_name' content=site.title)
  meta(proparty='og:title' content=title)
  meta(property='og:type' content='article')
  meta(property='og:url' content=`${site.url}${page.url}`)
else
  meta(proparty='og:site_title' content=site.title)
  meta(property='og:type' content='website')
  meta(property='og:url' content=site.url)

if description
  meta(property='og:description' content=description)
else
  meta(property='og:description' content=site.description)

meta(property='og:image' content=`${site.url}/images/ogp_twitter.png`)

meta(property='twitter:card' content='summary')
if title
  meta(property='twitter:title' content=title)
  meta(property='twitter:url' content=`${site.url}${page.url}`)
else
  meta(property='twitter:title' content=site.title)
  meta(property='twitter:url' content=site.url)

if description
  meta(property='twitter:description' content=description)
else
  meta(property='twitter:description' content=site.description)
meta(property='twitter:site' content=site.author.twitterid)
meta(property='twitter:image' content=`${site.url}/images/avatar_ksm-min.png`)
meta(property='twitter:image:alt' content="Author's avater image")

title
  if title
    | #{title} || #{site.title}
  else
    | #{site.title}

if description
  meta(name='description' content=description)
else
  meta(name='description' content=site.description)

meta(name='author' content=site.author.name)
