---
layout: layouts/base
---

section.page
  section
    h2 Recently
    ul.recently-posts-list
      each item in collections.articles.reverse()
        li
          time(datetime=filters.htmlDateString(item.date))
            = filters.readableDate(item.date)
          a(href=item.url)
            = item.data.title

  section
    h2 Hatena Blog Articles
    ul.recently-posts-list
      each hatenaEntry in hatenaBlogEntryItems
        li
          time(datetime=hatenaEntry.htmldate)
            | #{hatenaEntry.displaydate}
          a(href=hatenaEntry.href target='_blank')
            | #{hatenaEntry.title}

  section
    h2 Adout me
    .aboutme
      figure
        img(src='images/avatar_ksm-min.png')
      div
        dl
          dt Name
          dd ksm (read as kasumi)
        dl
          dt Job
          dd Designer
        dl
          dt SNS
          dd
            ul
              li
                a(href=site.author.sns.twitter.url)
                  = site.author.sns.twitter.id
                  | (Twitter)
              li
                a(href=site.author.sns.mstdnJp.url)
                  = site.author.sns.mstdnJp.id
              li
                a(href=site.author.sns.misskeySystems.url)
                  = site.author.sns.misskeySystems.id
