---
layout: layouts/base
---

section.page
  section
    h2 Recently
    ul.recently-posts-list
      each item in collections.articles.reverse()
        li
          time(datetime=filters.htmlDateString(item.date))
            = filters.readableDate(item.date)
          a(href=item.url)
            = item.data.title

  section
    h2 Hatena Blog Articles
    ul.recently-posts-list
      each hatenaEntry in hatenaBlogEntryItems
        li 
          time(datetime=hatenaEntry.htmldate)
            | #{hatenaEntry.displaydate}
          a(href=hatenaEntry.href target='_blank')
            | #{hatenaEntry.title}

  section
    h2 Adout me
    .aboutme
      figure
        img(src='images/avatar_ksm-min.png')
      div
        dl
          dt name
          dd ksm (read as kasumi)
        dl
          dt job
          dd Designer(Graphic, UI, UX)
        p 課題解決のためなら手段にこだわらないWebおばはん。
